<div class="container">
  <nav class="navbar fixed-top navbar-expand navbar-light bg-light rounded ">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav text-md-center nav-justified w-100">
        <li class="nav-item">
          <a class="nav-link  active" href="http://fumanet.com/products/list?category_id=7">年会費</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://fumanet.com/products/training_list">講習/研修会</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://fumanet.com/products/list?category_id=2">寄付</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://fumanet.com/products/list?category_id=3">教材</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://fumanet.com/products/list?category_id=4">ひろば</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://fumanet.com/products/list?category_id=5">グッズ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://fumanet.com/products/list?category_id=6">映像</a>
        </li>
      </ul>
    </div>
  </nav>
</div>