{#
This file is Customized file
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'product_page' %}

{% block javascript %}
{% endblock %}

{% block main %}
<h1>サポーター向け</h1>
<h2>　ふまねっと運動とは？</h2>
<h2>　サポーターの指導対象</h2>
<h2>　ふまねっと運動の指導資格の説明</h2>
<h2>　ふまねっとの歴史</h2>
<h2>　ふまねっとが有料な理由</h2>
<h2>　ボランティア活動の意義と効果</h2>
<h2>　ふまねっとの広がりと実績</h2>
<h2>　ふまねっと運動をオンラインで学ぶ</h2>
<h2>　高齢者の社会参加とプロモーション</h2>
<h2>　健康づくりで社会に貢献する</h2>
<h2>　ふまねっと教室の方針</h2>
<h2>　アドリブ禁止の理由と効果</h2>
<h2>　ふまねっと運動でレクリエーション</h2>
<h2>　競争ではなく共同歩調</h2>
<h2>　ふまねっとサポーターの自主練習</h2>
<h2>　失敗しても気にしない</h2>
<h2>　参加者が多く集まる楽しい教室</h2>
<h2>　ほめ方のヒントとこころがまえ</h2>
<h2>　人気サロンのふまねっと運動</h2>
<h2>　ユーザーの声教室訪問</h2>
<h2>　はひふへほで円満に</h2>
<h2>　保険の加入手続</h2>

{% endblock %}